{% extends 'base.html.twig' %}

{% block title %}New Luck{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="row justify-content-center">Create new Luck</h1>

    {{ include('luck/_form.html.twig') }}
    </div>
{% endblock %}
