{% extends 'base.html.twig' %}

{% block title %}New Cases{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="row justify-content-center">Create new Cases</h1>

        {{ include('cases/_form.html.twig') }}
    </div>
{% endblock %}
