{% extends 'base.html.twig' %}

{% block title %}New Station{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Station</h1>

        {{ include('station/_form.html.twig') }}
    </div>
{% endblock %}
